.benefits-section {
  position: relative;
  background: url("../../img-1/decor/leaf-pattern.png") left top 57% no-repeat;

  &:before {
    content: url("../../img-1/decor/raspberry1.png");
    position: absolute;
    bottom: rem(-80px);
    left: 0;
  }
}