.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu {
  margin: 0 rem(30px);
  padding-top: rem(5px);
  
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: rem(27px);
  margin-bottom: rem(10px);

  &:last-child {
    margin-right: 0;
  }
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.phone-number {
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}