.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: rem(19px);
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: rem(49px);

  @include phones {
    padding: 0 5%;
  }
}