.hero {
  background: url("./img-1/1/chocolate.png") right center / 50% auto no-repeat, 
  url("./img-1/1/leaf-1.png") right bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  position: relative;

  &:before {
    position: absolute;
    bottom: -40px;
    left: 2%;
    content: "";
    background: url("/img-1/decor/leaf3.png");
  }

  &:after {
    content: url("/img-1/decor/berry1.png");
    position: absolute;
    bottom: -40px;
    right: 0;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 45px 0;
}

.hero__title-section {
  width: 46%;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 28px;
  padding-right: 10%;
}