/*
Error: Invalid CSS after "...m()0rem()%rem()": expected "{", was ";rem()"
        on line 3 of C:\Users\Dell\Desktop\new project\css\components\lauout.scss

1: rem()hrem()trem()mrem()lrem(),rem()
2: rem()brem()orem()drem()yrem() rem(){rem()
3: rem() rem() rem()hrem()erem()irem()grem()hrem()trem():rem() rem()1rem()0rem()0rem()%rem();rem()
4: rem()}rem()
5: rem()
6: rem()brem()orem()drem()yrem() rem(){rem()
7: rem() rem() rem()frem()orem()nrem()trem()-rem()srem()irem()zrem()erem():rem() rem()$rem()brem()arem()srem()erem()Frem()orem()nrem()trem()Srem()irem()zrem()erem();rem()
8: rem() rem() rem()frem()orem()nrem()trem()-rem()frem()arem()mrem()irem()lrem()yrem():rem() rem()"rem()Arem()lrem()erem()grem()rrem()erem()yrem()arem() rem()Srem()arem()nrem()srem()"rem(),rem()Arem()rrem()irem()arem()lrem(),rem() rem()Hrem()erem()lrem()vrem()erem()trem()irem()crem()arem(),rem() rem()srem()arem()nrem()srem()-rem()srem()erem()rrem()irem()frem();rem()

Backtrace:
C:\Users\Dell\Desktop\new project\css\components\lauout.scss:3
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:22:in `load'
C:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...m()0rem()%rem()\": expected \"{\", was \";rem()\"\A         on line 3 of C:\Users\Dell\Desktop\new project\css\components\lauout.scss\A \A 1: rem()hrem()trem()mrem()lrem(),rem()\A 2: rem()brem()orem()drem()yrem() rem(){rem()\A 3: rem() rem() rem()hrem()erem()irem()grem()hrem()trem():rem() rem()1rem()0rem()0rem()%rem();rem()\A 4: rem()}rem()\A 5: rem()\A 6: rem()brem()orem()drem()yrem() rem(){rem()\A 7: rem() rem() rem()frem()orem()nrem()trem()-rem()srem()irem()zrem()erem():rem() rem()$rem()brem()arem()srem()erem()Frem()orem()nrem()trem()Srem()irem()zrem()erem();rem()\A 8: rem() rem() rem()frem()orem()nrem()trem()-rem()frem()arem()mrem()irem()lrem()yrem():rem() rem()\"rem()Arem()lrem()erem()grem()rrem()erem()yrem()arem() rem()Srem()arem()nrem()srem()\"rem(),rem()Arem()rrem()irem()arem()lrem(),rem() rem()Hrem()erem()lrem()vrem()erem()trem()irem()crem()arem(),rem() rem()srem()arem()nrem()srem()-rem()srem()erem()rrem()irem()frem();rem()"; }
