/*
Error: Invalid CSS after "...m()prem()xrem()": expected "{", was ";rem()"
        on line 1 of C:\Users\Dell\Desktop\new project\css\components\main.scss

1: rem()$rem()crem()orem()nrem()trem()arem()irem()nrem()erem()rrem()Wrem()irem()drem()trem()hrem():rem() rem()9rem()4rem()0rem()prem()xrem();rem()
2: rem()$rem()brem()arem()srem()erem()Frem()orem()nrem()trem()Srem()irem()zrem()erem():rem() rem()1rem()8rem()prem()xrem();rem()
3: rem()
4: rem()$rem()zrem()-rem()irem()nrem()drem()erem()xrem()-rem()mrem()erem()nrem()urem():rem() rem()1rem()0rem()0rem();rem()
5: rem()
6: rem()$rem()brem()lrem()urem()erem():rem() rem()#rem()6rem()1rem()crem()4rem()drem()9rem();rem()

Backtrace:
C:\Users\Dell\Desktop\new project\css\components\main.scss:1
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:22:in `load'
C:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...m()prem()xrem()\": expected \"{\", was \";rem()\"\A         on line 1 of C:\Users\Dell\Desktop\new project\css\components\main.scss\A \A 1: rem()$rem()crem()orem()nrem()trem()arem()irem()nrem()erem()rrem()Wrem()irem()drem()trem()hrem():rem() rem()9rem()4rem()0rem()prem()xrem();rem()\A 2: rem()$rem()brem()arem()srem()erem()Frem()orem()nrem()trem()Srem()irem()zrem()erem():rem() rem()1rem()8rem()prem()xrem();rem()\A 3: rem()\A 4: rem()$rem()zrem()-rem()irem()nrem()drem()erem()xrem()-rem()mrem()erem()nrem()urem():rem() rem()1rem()0rem()0rem();rem()\A 5: rem()\A 6: rem()$rem()brem()lrem()urem()erem():rem() rem()#rem()6rem()1rem()crem()4rem()drem()9rem();rem()"; }
